[submodule "AtixBackEnd"]
	path = AtixBackEnd
	url = https://github.com/marcomanfrin/AtixBackEnd.git
[submodule "AtixFrontEnd"]
	path = AtixFrontEnd
	url = https://github.com/marcomanfrin/atixfrontend.git
